.navbar {
  width: 100%;
  color: aquamarine;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: black;
}
.navbar.scrolled {
  background-color: var(--main-color);
}
.navbar .container {
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}
.navbar .container .left {
  display: flex;
  align-items: center;
}
.navbar .container .left img {
  height: 50px;
  margin-right: 40px;
}
.navbar .container .left span {
  margin-right: 20px;
  cursor: pointer;
}
